/* 이건 상단바이고요. */
#topColorBar {
  background-color: var(--main-color);
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 이거는 아래 하단바 입ㄴ디ㅏ. */
#footNavigationBar {
  background-color: var(--main-gray-color);
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 190px;
  display: flex; /* 의미 : 요소들을 가로로 나열 */
  /* 하단에 고정시키기 :*/

  flex-direction: row;
  align-items: center;
  justify-content: space-around; /* 뜻 : 공간을 균등하게 배분 */
}
.footBtn {
  width: 130px;
  height: 130px;
  border: 0px;
}
#widgetAddBtn {
  background-image: url("./assets/PlusCircle.svg");
}
#homeBtn {
  background-image: url(./assets/home.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90px;
}
#settingBtn {
  background-image: url(./assets/setting.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110px;
}
/* 아래는 위젯 바 입니다. */
#widget {
  width: 1025px;
  height: 250px;
  margin: 30px;
  background-color: var(--main-gray-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 40px;
  border: 1px solid var(--line-pink-color);
}

#thirdsImg {
  width: 85px;
  height: 58px;
  background-image: url(./assets/thrid.svg);
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  align-items: center;
}

#vectorImg {
  width: 85px;
  height: 58px;
  background-image: url(./assets/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  align-items: center;
}

#widgetText {
  width: 462px;
  height: 95px;
  font-size: 90px;
  left: 10px;
  font-family: "LGOTFRegular";
}

#light {
  width: 60px;
  height: 60px;
  background-color: #f89292;
  border-radius: 100px;
}

#widgetPopup {
  position: fixed;
  bottom: 190px;
  width: 100%;
  visibility: hidden;
  padding: 20px;
  display: flex;
  background-color: #faebeb;
  border-radius: 113px 113px 0px 0px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#widgetPopup.show {
  visibility: visible;
}

.popupWidget {
  display: flex;
  flex-direction: column;
  align-items: center;
}
